<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Algoritmos de Clasificacion</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <h1>Algoritmo Regresion Logistica</h1>
  <form>
    <div class="col-sm-2">
      <label class="visually-hidden" for="specificSizeInputName">Ingrese X1</label>
      <input type="text" class="form-control" name="z" id="specificSizeInputZ" placeholder="X1">
    </div>
    <div class="col-sm-2">
      <label class="visually-hidden" for="specificSizeInputName">Ingrese X2</label>
      <input type="text" class="form-control" name="z" id="specificSizeInputZ" placeholder="X2">
    </div>
    <button type="submit" class="btn btn-outline-success" value="interpretar">Comenzar</button>
    <div class="col-sm-2">
      <label class="visually-hidden" for="specificSizeInputName">vecino mas cercano</label>
    </div>
  </form>
  <body>       
    <div class="page-header text-center">
        <div class="col-lg-10 mx-auto">
          <br><br>
          <h3>{{consulta}}</h3>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>